name: Publish Resume

on:
  push:
    branches:
      - main

defaults:
  run:
    working-directory: .

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Tex to PDF
        uses: ./actions/xelatex
        env:
          OUT_DIR: public
      - name: Upload artifacts
        uses: actions/upload-artifact@v2
        with:
          name: files
          path: public/
